################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExploringCore_Threading/.vs/ExploringCore_Threading
